body {
  background-color: #283149;
  text-align: center;
}

.title {
  font-size: 5rem;
  font-family: "Arvo", serif;
  color: #dbedf3;
  text-align: center;
  text-shadow: 3px 0 #da0463;
}

.set {
  margin: 10% auto;
  display: block;
}

button {
  background-color: white;
}
.press {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.drum {
  outline: none;
  height: 150px;
  width: 150px;
  margin: 10px;
  border: 10px solid #404b69;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  font-family: "Arvo", serif;
  line-height: 2;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  font-size: 5rem;
}

/* footer */

footer {
  font-family: sans-serif;
  color: white;
  font-size: 1rem;
  margin-top: 14%;
  margin-bottom: 0;
}
a:link {
  color: #da0463;
  text-decoration: none;
}

a:visited {
  color: #da0463;

  text-decoration: none;
}

a:hover {
  color: #df70a2;

  text-decoration: none;
}

a:active {
  color: #da0463;

  text-decoration: none;
}

/* -----------------Drums--------------- */

.w {
  background-image: url(images/tom1.png);
}

.a {
  background-image: url(images/tom2.png);
}

.s {
  background-image: url(images/tom3.png);
}

.d {
  background-image: url(images/tom4.png);
}

.j {
  background-image: url(images/crash.png);
}

.k {
  background-image: url(images/kick.png);
}
.l {
  background-image: url(images/snare.png);
}
